@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');

::-webkit-scrollbar {
    display: none;
}

.root {
    --primary-color: #FDFDFD;
    --secondary-color: #1A1A23;
    --accent-color: #4A80F0;
    --sub-bg-color: #F7F7F7;
    --primary-font-color: #1A1A23;
    --secondary-font-color: #FDFDFD;
    --accent-font-color: #94AEFC;
    --subtext-font-color: #B1AFB4;
    --navbar-hover-color: #1F41D8;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

#container {
    position: relative;
    display: grid;
    grid-template-columns: 15% 65% 15%;
    width: 100vw;
    height: 100vh;
    gap: 40px;

    #sidebar {
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: 1fr repeat(3, 4fr);
        align-items: center;
        background-color: #1A1A23;
        padding: 0 20px;

        .close-icon-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            #sidebar-close-btn {
                background: none;
                width: fit-content;
                height: fit-content;
                border: none;
                cursor: pointer;

                >svg {
                    width: 24px;
                    height: 24px;
                }
            }

            #sidebar-close-btn:hover {
                #close-path-1 {
                    fill: #F7F7F7;
                }

                #close-path-2 {
                    stroke: #F7F7F7;
                }
            }
        }

        .profile-wrapper {
            position: relative;
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .photo-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                background: url(../icons/person-profile.svg) no-repeat center;

                .get-profile-picture-container {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 35px;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 1px;


                    #add-profile-photo-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: fit-content;
                        height: fit-content;
                        background: none;
                        border: none;
                        cursor: pointer;

                        >svg {
                            width: 30px;
                        }
                    }

                }
            }

            .photo-wrapper:hover {
                .get-profile-picture-container {
                    display: flex;
                }
            }


            .photo-wrapper {
                width: 100px;
                height: 100px;
                border-radius: 50px;
                background-color: #fff;
            }

            .user-name {
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;

                #full-name {
                    color: #F7F7F7;
                }

                #user-handle {
                    color: #B1AFB4;
                }
            }
        }

        .personal-links-wrapper {
            grid-row: 3 / 4;
        }

        .app-links-wrapper {
            grid-row: 4 / 5;
        }

        .links-list {
            display: flex;
            flex-direction: column;
            gap: 5px;

            >li {
                display: flex;
                width: 100%;
                padding: 10px 20px;
                border-radius: 20px;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                cursor: pointer;

                .icon {
                    display: inherit;

                    >svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                >span {
                    font-size: 18px;
                    color: #B1AFB4;
                }
            }

            >li:hover {
                background-color: #4A80F0;

                .icon {

                    #path-1,
                    #list-icon,
                    #support-path-1 {
                        fill: #F7F7F7
                    }

                    #fav-1,
                    #read-1,
                    #setting-path-2,
                    #setting-path-1,
                    #logout-path-1 {
                        stroke: #F7F7F7;
                    }


                    #path-2 {
                        fill: #4A80F0;
                    }
                }

                >span {
                    color: #F7F7F7;
                }
            }
        }


    }


    #main-section-container {
        position: relative;
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        height: 100vh;
        overflow: auto;
        gap: 10px;
        /* padding: 0 10px; */

        /* Header */
        #navbar {
            position: sticky;
            top: 0;
            display: grid;
            grid-template-columns: 1fr 4fr 5fr;
            align-items: center;
            padding: 30px 10px;
            background-color: #fff;

            .logo-wrapper {
                >img {
                    width: 60px;
                }
            }

            #navlinks-wrapper {
                width: fit-content;
                position: relative;

                .links-list {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 40px;

                    .navbar-link {
                        width: max-content;
                        font-size: 18px;
                        cursor: pointer;
                    }

                    .navbar-link:hover {
                        color: #1F41D8;
                        font-weight: 700;
                    }
                }
            }
            #navlinks-wrapper::after {
                position: absolute;
                top: 35px;
                display: flex;
                width: 295px;
                height: 1px;
                content: "";
                background-color: #B1AFB4;
            }

            #search-wrapper {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                #sb-1 {
                    width: 60%;
                    padding: 10px;
                    border: none;
                    border-radius: 20px;
                    background-color: #F7F7F7;
                }

                #sb-1:focus {
                    outline: none;
                }
            }
        }

        /* Main */
        #main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;

            .section-heading {
                padding: 0 10px;
            }

            .section-heading-wrapper {
                display: flex;
                gap: 10px;
                justify-content: flex-start;
                align-items: center;

                #add-book {
                    padding: 10px;
                    background-color: #4A80F0;
                    border-radius: 15px;
                    border: none;
                    font-size: 14px;
                    color: #F7F7F7;
                    text-align: center;
                    font-weight: 700;
                    cursor: pointer;
                }
            }

            .slider-container {
                overflow-x: scroll;
                display: flex;
                width: 100%;
                padding: 30px 10px;
                gap: 30px;

                /* book card */
                .owned {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    box-shadow: 0 0 5px 2px rgb(148, 174, 252, 0.1);
                    padding: 10px 20px;
                    gap: 30px;

                    .book-cover {
                        width: 100px;
                        height: 150px;
                        border-radius: 20px;
                        background: #F7F7F7 url(../icons/book-cover.svg) no-repeat center;

                        >img {
                            height: 100%;
                            border-radius: 20px;
                        }
                    }



                    .title-rating-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 20px 0;

                        .book-title {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            .book-author {
                                color: #B1AFB4;
                            }

                            >button {
                                font-size: 14px;
                                padding: 6px 8px;
                                border-radius: 8px;
                                width: max-content;
                                border: none;
                                cursor: pointer;
                                color: #FFF;
                            }

                            
                        }

                        .book-numbers {
                            display: flex;
                            gap: 30px;

                            .num-wrapper {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                >h3,
                                p {
                                    text-align: center;
                                }

                                >p {
                                    color: #B1AFB4;
                                }
                            }
                        }
                    }

                    .read-btn-wrapper {
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;

                        >button {
                            width: 40px;
                            height: 40px;
                            background: none;
                            border: none;
                            border-radius: 10px;
                            cursor: pointer;

                            >img {
                                width: 30px;
                            }

                        }
                    }

                    .read-and-remove-btn-wrapper {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        >button {
                            width: 40px;
                            height: 40px;
                            background: none;
                            border: none;
                            border-radius: 10px;
                            cursor: pointer;

                            >img {
                                width: 30px;
                            }
                        }

                        .remove-book {
                            font-size: 14px;
                            font-weight: 900;
                        }
                    }
                }

                /* Another card */

            }

            .popular {
                .slider-container {
                    gap: 60px;

                    .book-card {
                        min-width: 250px;
                        height: 500px;

                        display: grid;
                        grid-template-rows: 3fr 1fr;
                        /* padding: 20px; */
                        gap: 20px;

                        .top-section {
                            display: grid;
                            grid-template-rows: 1fr 2fr;
                            border-radius: 15px;
                            background-color: #F7F7F7;
                            box-shadow: 0 0 5px 2px rgb(148, 174, 252, 0.1);
                            gap: 10px;

                            .top {
                                display: grid;
                                grid-template-columns: 1fr 3fr;
                                padding: 10px;
                                gap: 20px;

                                .book-cover {
                                    >img {
                                        width: 80px;
                                        border-radius: 10px;
                                    }
                                }
                            }

                            .picture-section {
                                .book-picture-container {
                                    padding-bottom: 10px;

                                    >img {
                                        width: 100%;
                                        height: 250px;
                                    }
                                }
                            }
                        }
                    }

                    .book-card:hover {
                        outline: 10px solid #4A80F0;
                        background-color: #4A80F0;
                        z-index: 10;
                        border-radius: 20px;
                        border: none;

                        .bottom-section {
                            .book-title-and-author-wrapper {

                                .book-title,
                                .author-name {
                                    color: #F7F7F7;
                                }
                            }
                        }


                    }
                }
            }


        }

        #footer {
            display: flex;
            justify-content: space-between;
            padding: 20px 10px;


            .footer-links .links-list {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;

                .footer-link {
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
    }

    #book-about-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background-color: #1A1A23;
        overflow: auto;
        padding: 30px;
        gap: 20px;

        .section-heading {
            color: #F7F7F7;
        }

        .book-cover-wrapper {
            display: flex;
            width: fit-content;
            height: fit-content;
            .book-card {
                width: 200px;
                /* height: 350px; */

                display: grid;
                grid-template-rows: 330px 75px;
                /* padding: 20px; */
                gap: 20px;

                .top-section {
                    display: grid;
                    grid-template-rows: 1fr 2fr;
                    border-radius: 15px;
                    background-color: #F7F7F7;
                    box-shadow: 0 0 5px 2px rgb(148, 174, 252, 0.1);
                    gap: 10px;

                    .top {
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        padding: 10px;
                        gap: 20px;

                        .book-cover {
                            >img {
                                width: 80px;
                                border-radius: 10px;
                            }
                        }
                    }

                    .picture-section {
                        .book-picture-container {
                            padding-bottom: 10px;

                            >img {
                                width: 100%;
                                height: 175px;
                            }
                        }
                    }
                }

                .bottom-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .book-title-and-author-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        >h4 {
                            color: #F7F7F7;
                            font-size: 18px;
                        }

                        >p {
                            color: #B1AFB4;
                            font-size: 16px;
                        }
                    }

                }
            }
            
        }
        
        .book-details {
            .book-numbers {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 15px;
                background-color: #2e2e3f;
                padding: 10px 20px;
            }

            .num-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                >h3 {
                    color: #F7F7F7;
                    font-size: 16px;
                } 
                >p {
                    font-size: 14px;
                    color: #F7F7F7;
                }
            }
        }

        .book-description-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            >p {
                font-size: 14px;
                color: #F7F7F7;
                padding-bottom: 20px;
            }
        }

        .read-btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            bottom: -30px;
            width: 100%;
            padding:  10px 20px;
            background-color: #1a1a23;
            box-shadow:  0px -15px 15px 15px rgba(26, 26, 35, 1);

            #about-section-read-btn {
                width: 230px;
                border: none;
                border-radius: 30px;
                padding: 15px;
                background-color: #4A80F0;
                color: #F7F7F7;
                cursor: pointer;
            }
        }
    }
}
.seprator {
    width: 2px;
    height: 20px;
    background-color: #F7F7F7;
}

.read {
    background-color: green;
}

.not-read {
    background-color: red;
}